In [1]:
import seaborn as sns
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split #We need this to split the data

In [3]:
df = pd.read_csv('voice.csv')
df = df.dropna() #first get rid of rows with empty cells
df.head()
df['label'].value_counts()

female    1584
male      1584
Name: label, dtype: int64

In [22]:
# from sklearn.preprocessing import normalize #get the function needed to normalize our data.

X = df.loc[:,'Time':'Amount'] #create the X matrix
# X = normalize(X) #normalize the matrix to put everything on the same scale

y = df['Class'] #create the y-variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) #split the data, store it into different variables

X_train.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
92336,63884,0.805625,-1.695688,1.352358,-0.282137,-2.253216,0.017385,-1.217197,0.202760,-0.152576,...,-0.005321,-0.004854,0.042170,-0.132694,0.590563,-0.139888,1.096028,-0.039289,0.058267,239.76
62015,50089,1.100031,-0.102983,1.111263,1.292381,-0.933713,-0.115089,-0.540140,0.190514,0.607337,...,-0.162889,0.151511,0.592482,-0.125180,0.561148,0.570113,-0.244571,0.051015,0.021777,15.93
5005,4573,-1.552078,-0.531074,1.974243,1.013701,1.024195,-1.144346,0.002698,0.048984,1.339099,...,0.241350,-0.181249,-0.715027,0.328461,0.268026,-0.015884,-0.726971,0.026191,0.155041,83.72
56848,47632,-0.419158,0.949003,1.336161,0.854330,0.442809,0.107296,0.772343,-0.182008,-0.640852,...,0.015254,0.213674,0.779649,-0.181551,0.038274,-0.493093,-0.334844,-0.222714,-0.062746,19.99
99373,67089,0.054913,1.758103,-2.796921,1.320415,1.549875,-0.875941,0.498296,0.236048,-0.683338,...,0.008538,-0.125729,-0.211676,0.142032,-1.351474,-0.221678,-0.351459,-0.100930,-0.083579,8.49

In [38]:
from sklearn.ensemble import RandomForestClassifier 

rf = RandomForestClassifier()
rf = rf.fit(X_train, y_train)

In [39]:
from sklearn.metrics import confusion_matrix
y_test_pred = rf.predict(X_test) #the predicted values
cm = confusion_matrix(y_test, y_test_pred) #creates a "confusion matrix"
cm

array([[29932,     2],
       [   15,    51]])

In [40]:
conf_matrix = pd.DataFrame(cm, index=['Not Fraud (actual)', 'Fraud (actual)'], columns = ['Not Fraud (predicted)', 'Fraud (predicted)']) 
conf_matrix

                    Not Fraud (predicted)  Fraud (predicted)
Not Fraud (actual)                  29932                  2
Fraud (actual)                         15                 51

In [41]:
(29933+51)/(29933+1+15+51)
rf.score(X_test, y_test)

0.9994333333333333

In [34]:
51/(1+52)

0.9622641509433962

In [35]:
51/(15+51)

0.7727272727272727